body{
    margin: 0;
}
.test{
    background-image: url(/image/bgc.jpg);
    height: 800px;
    width: 1920px;
    
}
.logo{
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
}


.container{
    display: flex;
    justify-content: space-around;
}

.navigation{
    display: flex;

}

.itemLogo{
    display: flex;
    margin-right: 120px;
    color: white;
    
}


a{
    text-decoration: none;
}

.search{
    display: flex;
    justify-content: space-around;
    margin-right: 120px;
}

.logo__search{
    height: 17.73px;
    width: 20px;
    margin-top: 20px;
    margin-right: 75px;
}

.logo__globe{
    height: 17.73px;
    width: 20px;
    margin-top: 20px;
}

.name__search{
    color:white;
    
}

.container__expo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    height: 400px;
    
    color: white;
    

}

.expo{
    padding-left: 400px;
    padding-top: 150px;
}


.about{
    display: inline;
    margin-right: 15px;
    font-size: 44px;
    
}

.page__text{
    margin-bottom: 40px;
}


.logo__line{
    width: 16px;
    height: 10px;
}

.right-block{
    display: flex;
    
    width: 960px;
    height: 400px;
}

.card-container{
    display: flex;

    
    
    
    margin-left: 150px;
    

}
.card{
    
    
    width: 255px;
    height: 148px;
    background-color: aqua;
    margin-top: 300px;
    margin-right: 15px;
    margin-left: 120px;

}

.card2{
    width: 255px;
    height: 148px;
    background-color: rgb(33, 179, 179);
    margin-top: 300px;
    

}




.card3{
    
    
    width: 255px;
    height: 148px;
    background-color: aqua;
    margin-top: 550px;
    margin-right: 15px;
    
    
    

}

.card4{
    width: 255px;
    height: 148px;
    background-color: rgb(33, 179, 179);
    margin-top: 550px;
    
    
}
