body{
    margin: 0;
    padding: 0;
    
}
.test{
    background-image: url(image/bgc.jpg);
    min-height: 800px;
    width: 100%;

}






.logo{
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.navigation{
    display: flex;
}
.itemLogo{
    display: flex;
    margin-right: 120px;
    color: white; 
}
a{
    text-decoration: none;
    color:white
}
.search{
    display: flex;
    justify-content: space-around;
    margin-right: 120px;
}
.logo__search{
    margin-top: 20px;
    margin-right: 75px;
    margin-left: 5px;
}
.logo__globe{
    height: 17.73px;
    width: 20px;
    margin-top: 20px;
    margin-right: 3px;
}

.name__search{
    color:white;
}

.name__expo{
    font-size: 60px;
}


.container__expo{
    display: flex;
    
    align-items: center;
    
    height: 400px;
    color: white;
    box-sizing: border-box;
}
.expo{
    padding-left: 50px;
    padding-top: 50px;
    width: 25%;
    margin-left: 200px;
    
}
.about{
    display: inline;
    margin-right: 15px;
    font-size: 44px; 
}


.logo__line{
    width: 16px;
    height: 10px;
    margin-bottom: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    margin-top: 450px;
    margin-left: 100px;

}
.card {
    width: 255px;
    height: 148px;
    background-color: #2378FC;
    margin-right: 20px;
    
}
.card2 {
    width: 255px;
    height: 148px;
    background-color: #30BCC9;
    margin: 0;
}
.card3 {
    width: 255px;
    height: 148px;
    background-color: #FFC41E;
    margin-right: 20px;
    margin-top: 20px;

    
}
.card4 {
    width: 255px;
    height: 148px;
    background-color: #F6404F;
    margin-top: 20px;
    

}

.blue__block{
    text-align: center;
    font-size: 21px;
    
}

.blue__block2{
    text-align: center;
    font-size: 14px;
    
}

.blue__block3{
    display: inline;
    margin-left: 85px;
}

.str{
    margin-left: 10px;
}



.container__main{
    background-color: #2378FC;
    width: 100%;
    height: 426px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}




.list{
    
    margin-top: 0;

}


.itemList{
    
    margin-top: 20px;
    font-size: 16px;
    list-style-type: none;
    
    color: white;
    
}

#list{
    color: orange;
    
}

